<template>
  <div class="h-full login-bg flex justify-center items-center">
    <div class="text-white text-center"></div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.login-bg {
  background: url("../../assets/images/login.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
