<template>
  <div
    class="absolute top-0  left-0	 w-full h-screen flex justify-center items-center bg-gray-800 bg-opacity-80"
  >
    <div class="bg-white text-center p-6">
        <img src="../../assets/gifs/loading.gif" alt="this slowpoke moves"  width="250" />
        <p class="text-lg font-bold">Loading...</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>